body {
    background-color: rgb(106, 109, 107);
    color: rgb(7, 39, 51);
    background-image: url("images/darkTata.jpg");background-size: 400px;
}

h1 {
    color: rgb(15, 214, 240); font-size: 80px; text-align: center;
}
h2 {
    color: rgb(239, 199, 0); font-size: 20px; text-align: center;
}


p {color: rgb(19, 175, 196);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}




a {color:rgb(125, 193, 250); font-size: 42px;}

.img-candle { width: 200px; margin-left: auto; margin-right: auto;display: block;

}
.img-table { width: 300px; margin-left: auto; margin-right: auto;display: block;

}
.img-plant { width: 300px; margin-left: auto; margin-right: auto;display: block;

}
.link-container {text-align: center;}
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: hsl(51, 93%, 5%); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; }
  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #119ac4;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #openBTN{
    color: rgb(198, 147, 245);
    font-size: 36px;
    cursor: pointer;
  }